# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
Equipment_initial/dist
Equipment_initial/tmp
Equipment_initial/out-tsc
Equipment_initial/bazel-out

# Node
Equipment_initial/node_modules
Equipment_initial/npm-debug.log
Equipment_initial/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Equipment_initial/.vscode/*
!Equipment_initial/.vscode/settings.json
!Equipment_initial/.vscode/tasks.json
!Equipment_initial/.vscode/launch.json
!Equipment_initial/.vscode/extensions.json
Equipment_initial/.history/*

# Miscellaneous
Equipment_initial/.angular/cache
Equipment_initial/.sass-cache/
Equipment_initial/connect.lock
Equipment_initial/coverage
Equipment_initial/libpeerconnection.log
Equipment_initial/testem.log
Equipment_initial/typings
Equipment_initial/__screenshots__/

# System files
Equipment_initial/.DS_Store
Equipment_initial/Thumbs.db
