<p>webcam works!</p>
<button type="button" (click)="checkPermission()">Give Camera permission</button><br>
<div *ngIf="true">
    <button type="button" (click)="chooseDevice()">Choose Device</button>
    <div *ngIf="showDevices">
        <li class="device List" *ngFor="let device of mediaDevices">
            <span>{{device.label}}</span>
            <button class="device" type="button" (click)="selectDevice(device)">Select Device</button>
        </li>
    </div>
    <br>
    <button type="button" (click)="startCam()">Start Camera</button>
    <button type="button" disabled (click)="stopCam()">Stop Camera (doesn't work, reload page to stop)</button>
    <!-- Temporary button until stop Camera works -->
    <form>
    <button type="submit">(temp) reload page</button>
    </form>

    <div class="webcam">
        <video id="videoElement" #videoElement></video>
    </div>
</div>